@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* { 
    font-family: "Patrick Hand", cursive;
    color: white;
}

body { 
    margin: 0;
    padding: 0;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100dvh;
    width: 100dvw;
}

#gameHolder { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: min(1200px, 50%);
    height: 900px;
}

#textContainer { 
    display: flex;
    width: 97%;
    background: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    margin-bottom: none;
    padding-bottom: none;
    color: white;
    border-radius: 15px;
    font-size: 36px;
    flex-direction: row;

}
#textContainer > p { 
    margin-bottom: 1rem;
    margin-top: 1rem;
}
input {
    color: black;
    
}
#options { 
    border: 2px solid white;
    width: 97%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    margin: 0;
    margin-top: .75rem;
    flex-direction: column;
    padding-top: .7rem;
    padding-bottom: .5rem;
}
#options li {
    width: 95%;

    font-size: 24px;
    list-style-type:decimal;
    text-shadow: 0px 5px black;

}

#buttonCont { 
    align-self: center;
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .25rem;
}

#gameHolder > img {
    width: 100%;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
}





#overlayHolder {
    margin-top: 18rem;
    position: absolute;
    display: none;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 2px;
}

 /* #touchDiv0 { 
    margin-left: 6px;
} */
/* #touchDiv1 { 
    margin-left: 3px;
}
#touchDiv2 { 
    margin-left: 1px;
} */
/* #touchDiv3 { 
    margin-right: 4px;
}  */
#options li:hover { 
    transform: translateY(-3px);
    background-color: rgba(133, 133, 133, 0.304);
    cursor: pointer;
}





@media screen and (max-width: 950px) {
    body { 
        margin: 0;
    }
    #gameHolder { 
        width: 97% !important;
        height: auto;
        margin: 0 !important;
    }
    #textContainer { 
        width: 90% !important;
        overflow-y: auto;
    }
    #options {
        width: 92% !important;
        overflow-y: auto;
    }
}