@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


canvas {
    border:1px solid #d3d3d3;
    /* background-color: #000e4b; */
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin-bottom: 16dvh;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* { 
    font-family: "Patrick Hand", cursive;
    color: white;
}

body { 
    margin: 0;
    padding: 0;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100dvh;
    width: 100dvw;
    overflow-x: none;
}
#statHolder {
    display: flex;
    flex-direction: row;
    width: 97%;
}
#statHolder > p {
    margin: none;
    padding: none;

}
#gameHolder { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: min(1200px, 50%);
    height: 900px;
}

#textContainer { 
    display: flex;
    width: 97%;
    background: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    margin-bottom: none;
    padding-bottom: none;
    color: white;
    border-radius: 15px;
    font-size: 36px;
    flex-direction: row;

}
#textContainer > p { 
    margin-bottom: 1rem;
    margin-top: 1rem;
}
input {
    color: black;
    
}
#options { 
    border: 2px solid white;
    width: 97%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    margin: 0;
    margin-top: .75rem;
    flex-direction: column;
    padding-top: .7rem;
    padding-bottom: .5rem;
}
#options li {
    width: 95%;

    font-size: 24px;
    list-style-type:decimal;
    text-shadow: 0px 5px black;

}

#buttonCont { 
    align-self: center;
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .25rem;
    position: absolute;
    color: black;
}
#startBtn {
    color: black;
    transition: ease-in 1s;
    position: absolute;
    display: none;
}

#gameHolder > img {
    width: 100%;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
}

.theRemoving {
    display: none !important;
}

.ALIVE { 
    display: flex !important;
}


/* The animation code */
@keyframes example {
    0%   {transform: translate(100px) rotate(70deg); transition: ease-in-out 1s;}
    30%  {transform: translateX(200px) rotate(420deg) translateY(-200px); transition: ease-in-out 1s;}
    50%  {transform: translateX(300px) rotate(720deg) translateY(200px); transition: ease-in-out 1s;}
    75% {transform: translateX(-500px) rotate(690deg) translateY(-400px); opacity: 1; transition: ease-in-out 1s;}
    89% {transform: translateX(3000px) rotate(1600deg) translateY(-300px); transition: ease-in-out 1s; }
    100% {transform: translateX(3000px); scale: .50; display: none !important; opacity: 0 ;}
}
@keyframes blindingLights {
    0% {background-color: white;}
    20% {background-color: rgb(230, 31, 31);}
    40% {background-color: rgb(12, 125, 156);}
    60% {background-color: rgb(0, 217, 255);}
    100% {background-color: white;}
}
  /* The element to apply the animation to */
  .hidden {
    animation-name: example;
    animation-duration: 2.8s;
  }
  .BLINDING {
    animation-name: blindingLights;
    animation-duration: .5s;
  }